<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstm.recruitment.mapper.MatchResultsMapper">

    <resultMap id="BaseResultMap" type="com.hstm.recruitment.entity.MatchResults">
            <id property="id" column="id" />
            <result property="candidateId" column="candidate_id" />
            <result property="jdId" column="jd_id" />
            <result property="similarityScore" column="similarity_score" />
            <result property="matchDetails" column="match_details" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,candidate_id,jd_id,similarity_score,match_details,created_at
    </sql>
</mapper>
